/* 
    Created on : 30/09/2015, 08:38:34
    Author     : 1147106
*/
*{
    font-family: Arial, Verdana;
}

label{
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    background-color: #f0f0f0;
}
a{
    color: #BED7EC;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 20px;
    margin-left: 15px;
}

body {
    background: #65B7FF;
}

fieldset {
    display: inline-block;
    color: whitesmoke;
    background: #325B7F;
}
