.avatar {
    height: 50px;
    max-width: 55px;
}

.top-banner {
    float: left;
}

.veiculo {
    height: 200px;
    width: 330px;
}

.veiculo-container {
    display: inline-block;
    padding: 20px;
    float: left;
}

table, th, td {
    border: 1px solid black;
}

