.avatar {
    max-height: 55px;
    max-width: 55px;
}

.top-banner {
    float: left;
}

.veiculo {
    height: 260px;
    width: 340px;
}

.veiculo-container {
    display: inline-block;
    padding: 20px;
    float: left;
}