/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/09/2015, 08:39:01
    Author     : 31338283
*/

body {
    background-color: #C2C08D;
}

* {
    font-family: Arial, Verdana;
}

fieldset {
    width: 200px;
    background-color: #BCAB6F;
}

p {
    font-weight: bold;
}